<div class="box">
  <div>Web component 2</div>
  <div class="message">
    Web component 2 Message Channel<br><br>
    {{channelMessage}}
  </div>
  <div class="wc-grid">
    <div class="first">Test data from consumer - <br>{{ data || 'N/A' }}</div>
    <div>
      Some text
      <br>
      <div>
        <input type="button" value="Publish" (click)="publishMessage()"/>
      </div>
    </div>
    <div>
      Common component
      <engage-comm-comp1></engage-comm-comp1>
    </div>
  </div>
</div>
