<br />***************************************<br />
<div style="margin-left: 15px; padding: 20px">DEMO APP</div>
<br />***************************************<br />
<br />
<br />
All Message In Channel - {{ channelMessage || "_EMPTY_" }}
<input type="button" value="WC1 makeCall" (click)="makeCall()"/>
<input type="button" value="WC1 cancelCall" (click)="cancelCall()"/>

<br />
<br />
<demo-wc-1 #demoWC1 data="this-is-a-test-data-from-demo-app"></demo-wc-1>
<br />
<br />
<demo-wc-2 data="this-is-a-test-data2-from-demo-app"></demo-wc-2>
<br />
<br />
